 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta titulo="viewport" content="width=device-width, initial-scale=1.0">
    
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home | House Book</title>
<body>
    

    <%- include('../partials/header') %>

    <div class="container">
        <div class="main">
            <div class="carousel-main">
                <div class="block-title">
                    <h2>Lo Mas Vendidos</h2> <a href="/products">ver mas</a>
                </div> 
                <div class="block">
                    <div class="carousel">
                        <div class="tab">
                            <% let count = 0;
                            for (const book of product) { 
                                if (book.categoria == "mas-vendidos") { %>
                                    <div class="block-item block-carousel">
                                        <a href="/products/<%=book.id%>" class="img"><img src="/images/libros/<%=book.portada%>" alt="Ejemplo0"></a>
                                <div class="item-info">
                                    <a href="/products/<%=book.id%>"></a><h3 class="item-title"><%=book.titulo%></h3></a>
                                    <p class="autor"><%=book.autor%></p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="precio"><b>ARS$ <%=book.precio%></b></div>
                            
                                </div>
                                <div class="item-action">
                                    <a href="#" class="btn btn-carrusel">A単adir al Carrito</a>
                                </div>
                            </div>                                    
                                <% count++; if (count == 4){break;}
                                }
                            }%>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="content-wrap">
                <!--Navegacion izquierda sobre filtro-->
                <div class="left">
                    <section class="block-nav">
                        <h2>Categorias</h2>
                        <div class="filter">
                            <ul>
                                <li><a href="#">Arte y Fotografia</a></li>
                                <li><a href="#">Biografia</a></li>
                                <li><a href="#">Negocios, Economia y Leyes</a></li>
                                <li><a href="#">Libros para Ni単os</a></li>
                                <li><a href="#">Computadora</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="block-nav">
                        <h2>Precio</h2>
                        <div class="filter">
                            <ul>
                                <li><a href="#">Hasta $800</a></li>
                                <li><a href="#">$800 a $1.500</a></li>
                                <li><a href="#">Mas de $1.500</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="block-nav">
                        <h2>Descuento</h2>
                        <div class="filter">
                            <ul>
                                <li><a href="#">Desde 10% off</a></li>
                                <li><a href="#">Desde 20% off</a></li>
                                <li><a href="#">Desde 30% off</a></li>
                                <li><a href="#">Desde 40% off</a></li>
                                <li><a href="#">Desde 50% off</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <!--cuerpo principal-->
                <div class="body-main">

                    <div class="block-wrap">
                        <div class="block-title">
                            <h2 style="display: inline-block;">Ofertas</h2> <a href="/products" style="color: black;">ver mas</a>
                        </div>
                        <div class="block">
                            <div class="carousel">
                                <div class="tab">
                                    <%
                                    for (const book of product) { 
                                        if (book.categoria == "ofertas") { %>
                                            <%-include('../partials/item-book', {book}) %>                                  
                                        <% count++; if (count == 8){break;}
                                        }
                                    }%>
                                </div>
                            </div>
                        </div>
                    </div>                
                
                    <div class="block-wrap">
                        <div class="block-title">
                            <h2 style="display: inline-block;">Libros en espa単ol</h2> <a href="/products" style="color: black;">ver mas</a>
                        </div>
                        <div class="block">
                            <div class="carousel">
                                <div class="tab">
                                    <%
                            for (const book of product) { 
                                if (book.categoria == "espa単ol") { %>
                                    <%-include('../partials/item-book', {book}) %>                         
                                <% count++; if (count == 12){break;}
                                }
                            }%></div>
                            </div>
                        </div>
                    </div>                   
                
                    <div class="block-wrap">
                        <div class="block-title">
                            <h2>Novedades</h2> <a href="/products">ver mas</a>
                        </div>
                        <div class="block">
                            <div class="carousel">
                                <div class="tab"><% let count4 = 0;
                            for (const book of product) { 
                                if (book.categoria == "nuevos-lanzamientos") { %>
                                    <%-include('../partials/item-book', {book}) %>                  
                                <% count++; if (count == 16){break;}
                                }
                            }%></div>
                            </div>
                        </div>
                    </div>   


                </div>
                <!-- fin cuerpo principal-->

            </div>
            <!--fin bloque principal-->

        </div>
    </div>

    <%- include("../partials/footer") %>


</body>
</html>