<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel="stylesheet" href="/css/products.css">
   
    <script src="/js-front/preview-obj.js"></script>
  </head>

  <%- include("../partials/header") %> 
  
  <body>

   

    <div class="contenedor">
      
      
         
        <nav class="filtros">
          
          <div class="admin">
            <div class="crear">
              <a href="/products/create">Crear nuevo producto</a>
            </div>
            <div class="espacio-blanco"></div>
          </div>
          
        
          <h3>Filtros</h3>
          <ul>
            <li class="lista-filtros"><a href="">categoria</a></li>
            <li class="lista-filtros"><a href="">nuevos</a></li>
            <li class="lista-filtros"><a href="">puntuacion</a></li>
            <li class="lista-filtros"><a href="">mas vendidos</a></li>
            <li class="lista-filtros"><a href="">otros</a></li>
          </ul>
        
        </nav>
      <section class="libros">

        <% for (let i = 0; i < libro.length ; i++) { %>
      
          
          <div class="info-libro">
            <h3 class="titulo hasToolUp" idElement = <%=i%>> <a href="/products/<%=libro[i].id%>"><%= libro[i].titulo %></a> </h3>

            <div class="valoracion-libro">
              <i class="fas fa-star"></i>  <%= libro[i].valoracion %>
            </div>

            <div class="img hasToolUp" idElement = <%=i%>>
              <a href="/products/<%=libro[i].id%>">
                <img src="/images/libros/<%= libro[i].portada %>" alt="imagen de libro">
              </a>
            </div>

            <a class="autor" href="/products/<%=libro[i].id%>"> <%= libro[i].autor %> </a>

            <span class="precio">$ <%= libro[i].precio %> </span>
          </div>

          <% }  %> 
       
      </section>

      
    </div>
    <footer><%- include("../partials/footer") %> </footer>
  </body>

  
  
  <div class="toolup"></div>
</html>
