<div class="block-item block-carousel">
    <a href="/products/<%=product[i].id%>" idElement=<%=i%> class="hasToolUp">
        <div class="img">
        <img src="/images/libros/<%=product[i].portada%>" alt="imagen numero: <%=product[i].id%>">
        </div>
    </a>
    <div class="item-info">
        <a href="/products/<%=product[i].id%>" idElement=<%=i%> class="hasToolUp">
            <h3 class="item-title"><%=product[i].titulo%></h3>
        </a>
        <p class="autor"><%=product[i].autor%></p>
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="precio"><b>ARS$ <%=product[i].precio%></b></div>

    </div>
    <div class="item-action">
        <a href="#" class="btn">Añadir al Carrito</a>
    </div>
</div>