<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register-opcion.css">
    <title>Login</title>
</head>

<%- include("../partials/header") %> 

<body>
    
        <div class="container-sesion-register">
            
            <div class="box-register">
                <div class="titulo-register">
                    <h2>Registrarse</h2>

                    <div class="block-form-sesion block-register">

                       
                        
                        <form action="/account/register" method="POST">   

                            <!-- usuario -->
                            
                            <div class="errores">
                            <% if (typeof errors !== "undefined") { %>
                                       <div class="error-msg">
                                           <%= errors.usuario ? errors.usuario.msg : " " ;%> 
                                       </div>
                                <% } %> 
                            </div>

                            <input type="text" name="usuario" id="usuario" placeholder="Usuario" name="usuario">
                           <!-- email  -->
                            <div class="errores">
                                <% if (typeof errors !== "undefined") { %>
                                           <div class="error-msg">
                                               <%= errors.email ? errors.email.msg : " " ;%> 
                                           </div>
                                    <% } %> 
                                </div>
                            <input type="email" name="email" id="email" placeholder="Email">

                            <!-- password -->

                            <div class="errores">
                                <% if (typeof errors !== "undefined") { %>
                                           <div class="error-msg">
                                               <%= errors.password ? errors.password.msg : " " ;%> 
                                           </div>
                                    <% } %> 
                                </div>
                            <input type="password" name="password" id="password" placeholder="Password">

                            <!-- c_password -->
                            <div class="errores">
                                <% if (typeof errors !== "undefined") { %>
                                           <div class="error-msg">
                                               <%= errors.password ? errors.password.msg : " " ;%> 
                                           </div>
                                    <% } %> 
                                </div>

                            <input type="password" name="c_password" id="c_password" placeholder="Confirmar Password"> 

                            <div class="casilla-register">
                                <label for="view-register">
                                    <input type="checkbox" name="view-register" id="view-register">
                                    <span> Mostrar Contraseña</span>
                                </label>
                            </div>

                            <p class="terminos">Estoy de acuerdo con los <a href="">terminos y condiciones</a></p>

                            <button class="register" type="submit">Registrarse</button>

                            <p class="re-login"><a href="/account/login">ya tengo usuario</a></p>

                        </form>    

                    </div>

                   
                   
                
                </div>
            </div>
        </div>
    
</body>

<%- include("../partials/footer") %> 

</html>